{% extends 'base_mfh.html' %}
{% load static %}
{% load widget_tweaks %}


{% block header_background %} {% static "img/file_cabinet.jpg" %} {% endblock %}
{% block product_name %} Ahoy {{ user.username }} ! {% endblock %}

{% block subheader %}

<div class="container">
    <div class="row justify-content-center" style="margin: 30px -0px">
        <div class="col-7">
            <div style="margin: 0px -15px">
                Modifier les données de votre compte :
            </div> 
        </div>
    </div>
    <div class="row justify-content-center" style="height:550px; margin-top:0px;">
        <div class="col-7">
            <form action="" method="post">
                {% csrf_token %}
                <fieldset disabled>
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {% render_field form.username class="form-control" placeholder="pseudo"%}
                    </div>
                    <div class="form-group">
                        {{ form.first_name.label_tag }}
                        {% render_field form.first_name class="form-control" placeholder="prenom" %}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label_tag }}
                        {% render_field form.last_name class="form-control" placeholder="nom" %}
                    </div>
                    <div class="form-group">
                        {{ form.mail.label_tag }}
                        {% render_field form.mail class="form-control" placeholder="untruc@exemple.com" %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {% render_field form.password class="form-control" placeholder="onregardepaspromis" %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin-top:20px">
                        Modifier
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
