{% extends "base_mfh.html" %}
{% load static %}

{% block header_background %} {% static "img/legal-anderson.jpg" %} {% endblock %}
{% block product_name %} Mentions legales {% endblock %}

{% block subheader %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class='col-8 text-justify mb-3'>
            <article class="my-3"> 
                <h2 style="font-size: 20px">1. A propos de la société</h2>
                <p class="mt-4 legal-text"> 
                    purbeurre.fr ("Pur Beurre") est un site web exploité par Placeholder Company.<br>
                    <br>
                    Placeholder Company est une SARL au capital de 0 000 000 euros dont le siège social est situé nulle part en France. Son immatriculation au RCS est le n° 000 000 000, son numéro de TVA, FR 00000000099.<br>
                    <br>  
                    Vous pouvez contacter ses représentants aux adresses suivantes :<br> 
                    <br>            
                    Mail : <a href="mailto:contact@purbeurre.fr">contact@purbeurre.fr</a><br> 
                    Téléphone : <a href="tel:+33900000000">09.00.00.00.00</a><br> 
                    Adresse : nulle part, France<br>
                </p>
            </article>
            <article class="my-4">
                <h2 style="font-size: 20px">2. Objectif et Limitation de Responsabilité</h2>
                <p class="mt-4 legal-text">
                    Pur Beurre a pour but la fourniture d'un service ("Service") permettant le remplacement d'un aliment du quotidien ("Produit") par un équivalent plus nutritif ("Substitut"). Un Substitut est un aliment de catégorie similaire au Produit qui possède <strong>au minimum</strong> un nutriscore inférieur ou égal au Produit.<br>
                    <br>
                    Le Service s'appuie sur les données de la base de données du site fr.openfoodfacts.org ("Open Food Facts"), aussi, Placeholder Company ne saurait être tenu responsable en cas de données nutritionnelles erronées ou manquantes.<br>
                    <br>
                    L'utilisation du Service ne saurait exclure la consultation de professionnels de santé qualifiés.<br>    
                </p>
            </article>
            <article class="my-4">
                <h2 style="font-size: 20px">3. Accès au Service</h2>
                <p class="mt-4 legal-text">
                    L'accès à Pur Beurre et au Service est autorisé de manière temporaire. Placeholder Company ne saurait être tenu responsable si, pour quelque motif que ce soit, Pur Beurre ne serait pas disponible à un moment donné ou pendant une période donnée.<br>
                    <br>
                    Placeholder Company se réserve le droit de restreindre l'accès à certaines parties de Pur Beurre aux utilisateurs inscrits.<br>
                    <br>
                    Vous êtes responsable de la préservation de la confidentialité de vos informations de connexion et des activités de votre compte. En cas de problèmes de connexion ou de suspicion d'utilisation frauduleuse de votre compte, prière de prendre immédiatement contact avec <a href="mailto:contact@purbeurre.fr">contact@purbeurre.fr</a> pour résolution du problème. 
                </p>
            </article>
            <article class="my-4">
                <h2 style="font-size: 20px">4. Cookies et informations de connexion</h2>
                <p class="mt-4 legal-text">
                    Des informations sont collectées lorsque vous utilisez le Service. Parmi ces informations figurent votre navigateur, votre système d'exploitation, vos heures de connexion, votre adresse Ip, le contenu de vos requêtes à nos serveurs. Pur Beurre utilise aussi des cookies pour personnaliser votre expérience utilisateur.<br>
                    <br>
                    À terme, un bandeau vous informera de la présence de cookies sur Pur Beurre. Vous serez aussi informé de leur finalité et aurez la possibilité de les refuser ou les accepter. La durée maximum de ce consentement est de 13 mois.        
                </p>
            </article>
            <article class="my-4">
                <h2 style="font-size: 20px">5. Propriété intellectuelle</h2>
                <p class="mt-4 legal-text">
                    Placeholder Company est le propriétaire de Pur Beurre, à l'exception des éléments dont les propriétaires ou l'origine sont décrits dans la section suivante.<br>
                    <br>
                    Pur Beurre est protégé par les lois et traités sur le droit d'auteur en France. Vous n'avez pas le droit de copier, reproduire, republier, télécharger, envoyer, diffuser, transmettre, communiquer au public ou utiliser un contenu de notre Site de quelque manière que ce soit, sauf pour votre usage personnel sans caractère commercial.
                </p>
            </article>
            <article class="my-4">
                <h2 style="font-size: 20px">6. Crédits</h2>
                <p class="mt-4 legal-text">         
                    - Pur beurre contient plusieurs éléments du template de site web <a href="https://startbootstrap.com/themes/creative/">Creative</a> concédé sous <a href="https://github.com/BlackrockDigital/startbootstrap-creative/blob/master/LICENSE">licence MIT</a> par <b>BlackRockDigital</b><br>
                    - Le <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo">logo Pur Beurre</a> et les images de <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/langage-visuel/photographies">Remy et Collette</a> sont fournis par <b>Openclassrooms</b><br>
                    - La <a href="https://thenounproject.com/term/carrot/29691/">Carrot icon</a> est fournie par <b>Fabien Jouin</b> sous licence <a href="https://creativecommons.org">Creative Commons</a><br>
                    - La <a href="https://fontawesome.com/icons/user?style=solid">user icon</a>, la <a href="https://fontawesome.com/icons/sign-out-alt?style=solid">sign-out-alt icon</a>, la <a href="https://fontawesome.com/icons/save?style=regular">save icon</a> et par <b>Font Awesome</b> sous licence <a href="https://creativecommons.org">Creative Commons</a>, plus d'infos dans la <a href="https://fontawesome.com/license/free">Font Awesome Free License</a><br>
                    - Le fond page d'accueil <a href="https://unsplash.com/photos/YTbFHT9_IhY">Wanna See More?</a> est fourni par <b>Greg Jeanneau</b> sous <a href="https://unsplash.com/license">licence Unsplash</a><br>
                    - Le header page mes produits <a href="https://unsplash.com/photos/-YHSwy6uqvk">Food, bowl, meal and Singapore</a> est fourni par <b>Lily Banse</b> sous <a href="https://unsplash.com/license">licence Unsplash</a><br>
                    - Le header page mon compte et inscription <a href="https://unsplash.com/photos/JuFcQxgCXwA">Archive storage</a> est fourni par <b>Samuel Zeller</b> sous <a href="https://unsplash.com/license">licence Unsplash</a><br>
                    - Le header page mention legales <a href="https://unsplash.com/photos/Vq__yk6faOI">Architecture, building, court and Washington</a> est fourni par <b>Claire Anderson</b> sous <a href="https://unsplash.com/license">licence Unsplash</a><br>
                    - Le fond page de connexion <a href="https://unsplash.com/photos/k60JspcBwKE">Happiness time</a> est fourni par <b>Kawin Harasai</b> sous <a href="https://unsplash.com/license">licence Unsplash</a><br>
                    - L'image d'erreur <a href="https://unsplash.com/photos/ygqCxU1o_sw">Pear, window light, cinnamon</a> est fourni par <b>Sheila Joy</b> sous <a href="https://unsplash.com/license">licence Unsplash</a><br>
                    - Données Nutritionnelles, images produits, noms de produit fournies par <b>Open Food Facts</b>. Les informations sur les différentes licences (ODL, DCL, CC) sont disponibles dans <a href="https://fr.openfoodfacts.org/conditions-d-utilisation">les Conditions d'utilisation, de contribution et de réutilisation de Open Food Facts</a>.
                </p>
            </article>
        </div>
    </div>
</div>

{% endblock %}

